

@import '~bootstrap/scss/bootstrap';


$color-active: #005400;

nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.activeMenu {
	text-decoration: none;
	color: $color-active;
}
.error{
	color: red;
	font-size: 12px;
}